fastapi
uvicorn
pydantic<2.0.0
email-validator
jinja2
python-multipart
fastapi-mail==1.4.1
python-dotenv
sqlalchemy
psycopg2-binary
stripe
httpx
passlib[sha256_crypt]
python-jose[cryptography]
razorpay
