fastapi
uvicorn
pydantic>=2.7.0
email-validator
jinja2
python-multipart
fastapi-mail
python-dotenv
sqlalchemy
psycopg2-binary
stripe
httpx
passlib[sha256_crypt]
python-jose[cryptography]
razorpay
pydantic-settings
